:root {
  --oldLavendar: rgb(131, 111, 123);
  --primaryblue: #586978;
  --primarypurp: #836f7b;
  --acccentblue: #7e9a98;
  --accentgrey: #c4c4c4;
  --cursivefont: font-family: 'Sacramento', cursive;
  --printfont: font-family: 'Quicksand', sans-serif;
}

.roundedBtn {
  width: 17vw;
  height: 17vw;
  background-color: var(--oldLavendar);
  border-radius: 50%;
  outline: none;
  margin: 60px;
}

.questionArea {
  background-color: whitesmoke;
  font-family: "Quicksand", sans-serif;
  color: var(--accentgrey);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 15vh;
  border-bottom: 5px double var(--primaryblue);
  padding-bottom: 5px;
  font-size: 30px;
}
.sub-cat{
  font-family: "Quicksand", sans-serif;
  color: var(--primarypurp);
  font-size: 2rem;

}

/* .buttonarea {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  border: 10px dotted red;
} */

#parent-drinks {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  font-family: "Quicksand", sans-serif;
  color: #c4c4c4;
}

#parent-food {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.footer {
  background-color: #586978;
  color: var(--accentgrey);
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
}

.img {
  width: 20px;
  height: 20px;
  border-radius: 5px;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  background-color: #586978;
}
.title {
  font-size: 70px;
  justify-content: center;
  font-weight: bolder;
  font-family: "Sacramento", cursive;
  color: whitesmoke;
  text-align: center;
  text-shadow: 2px 2px var(--primarypurp);
}

.sub-title {
  font-size: 25px;
  font-family: "Quicksand", sans-serif;
  color: var(--accentgrey);
  justify-content: center;
  padding-left: 30px;
  text-align: center;
  line-height: 0.6;
}

.sub-title span {
  display: inline-block;
  position: relative;  
}
.sub-title span:before,
.sub-title span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid var(--accentgrey);
  border-top: 1px solid var(--accentgrey);
  top: 0;
  width: 90%;
}
.sub-title span:before {
  right: 100%;
  margin-right: 15px;
}
.sub-title span:after {
  left: 100%;
  margin-left: 15px;
}
ul {
  list-style: none;
}
.content{
  color: var(--primarypurp);
  font-size: 2.5rem;
  font-family: 'Sacramento', cursive; 
}

.content1{
  font-family: "Quicksand", sans-serif;
  color: var(--acccentblue);
  font-size: 1rem;
  
}
.ingr, .instr{
  list-style: circle;
  font-size: 1rem;
  font-family: "Quicksand", sans-serif;
  color: #586978;
}
.background{
  background-color: white
}
.btn{
  justify-content: center;
  color:whitesmoke;
  font-family:'Quicksand', sans-serif ;
  align-items: center;
  
}
.btnstyle{
  font-family: "Quicksand", sans-serif;
  color: var(--accentgrey);
  font-size: 1.2rem;
}

@media screen and (min-width: 375px) {
  .roundedBtn {
    margin: 20px;
  }
}

@media screen and (min-width: 675px) {
  .roundedBtn {
    margin: 30px;
  }
}

@media screen and (min-width: 925px) {
  .roundedBtn {
    margin: 40px;
  }
}

@media screen and (min-width: 1175px) {
  .roundedBtn {
    margin: 50px;
  }
}
