:root {
  --oldLavendar: rgb(131, 111, 123);
}

.roundedBtn {
  width: 17vw;
  height: 17vw;
  background-color: var(--oldLavendar);
  border-radius: 50%;
  outline: none;
  margin: 30px;
}

.questionArea {
  background-color: #586978;
  font-family: "Quicksand", sans-serif;
  color: var(--accentgrey);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 15vh;
  border-bottom: 5px solid black;
  font-size: 30px;
}

/* .buttonarea {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  border: 10px dotted red;
} */

#parent-drinks {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

#parent-food {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.footer {
  background-color: #586978;
  color: var(--accentgrey);
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
}

.img {
  width: 20px;
  height: 20px;
  border-radius: 5px;
}
